/* You can add global styles to this file, and also import other style files */
.line{
  background-color: rgb(204, 247, 204);
}

a {
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-style: initial;
  text-decoration-color: #e70505;
  -webkit-text-decoration-color:  #e70505;
  text-decoration-color: #e70505;
}
