<h5>HOME | Angular Service Layers: Redux, RxJs and Ngrx Store !</h5>

<h1>Author: John Kocer</h1>
Author/ IT Consultant / Sr. Technical Lead / Architect
<br>
<br>
Email: To:
<a href="mailto:smartit.consultation@gmail.com">Jonh Kocer SmartIT</a>.<br>
license: MIT<br>

<a href="https://www.amazon.com/s/ref=nb_sb_noss_2?url=search-alias%3Daps&field-keywords=john+kocer" target="#">Books at amazon.com/john+kocer</a><br>
<a href="https://twitter.com/jkocer" target="#">https://twitter.com/jkocer</a><br>
<a href="https://www.linkedin.com/in/john-kocer-117a7662/" target="#">https://www.linkedin.com/in/john-kocer-117a7662/</a><br>
<a href="http://www.c-sharpcorner.com/members/john2098" target="#">c-sharpcorner/kocer</a><br>
<a href="https://twitter.com/jkocer" target="#">https://twitter.com/jkocer</a><br>

<hr>
<p>Copyrigh 2021  (c) SmartIT. All rights reserved.</p>
